<!DOCTYPE html>
<html lang="en">

<head>
    <title>Upload</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body class="container">
    <h1>Upload de Arquivo</h1>

    <form asp-controller="ImagePost" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Selecione um arquivo:</label>
            <input type="file" id="file" name="image" class="form-control-file" />
        </div>
        <div class="form-group">
            <label for="file">Legenda:</label>
            <input type="text"  name="legenda" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</body>

</html>

