@model List<ImagePost>
<html lang="en">

<head>
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body class="container">
    

    <table class="table table-hover">
        <tr>
            <td>Legenda</td>
            <td>Imagem</td>
        </tr>

        @foreach (var image in Model)
        {
            <tr>
                <td>@image.Legenda</td>
                <td><a href="/uploads/@image.FileName">@image.FileName</a></td>
            </tr>
        }
    </table>

    <a href="/ImagePost/Create" class="btn btn-primary">Adicionar Imagem</a>
</body>

</html>